
.currentFollowers {
    text-align: center;
}

.currentFollowers p {
    display: inline-block;
}

.offerName {
    float: left;
}

.deleteOffer
{
    color: rgb(216, 34, 89);
    cursor: pointer;
}

#bigContainer
{
    width: 100%;
    text-align: center;
}

#backBtn
{
    font-size: 26px;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 15px;
    
    cursor: pointer;
    font-weight: 600;
}

#resultsTitle
{
    font-size: 22px;
    font-weight: 400;
    vertical-align: super;
    margin-left: 10px;
    color:rgb(216, 34, 89);
}