<div id="bigContainer">
    <div style="float: left;">
        <i [routerLink]="['../home']" id="backBtn" class="material-icons modal-close">arrow_back</i> 
        <span id="resultsTitle">Currently following</span>
    </div>
    <br><br>
    <div class="currentFollowers">
      <ul *ngFor="let follower of followers; let index" class="collection with-header">
          <li class="collection-item"><div>{{follower.name}}<a class="secondary-content">
          <i (click)="deleteOffer(index)" class="deleteOffer material-icons">delete</i></a></div></li>
      </ul>
    </div>
  </div>